.auto-scroll-carousel-container {
  display: flex;
  flex-direction: column;
}

.auto-scroll-carousel-container .header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.auto-scroll-carousel-container h2 {
  text-transform: capitalize;
  font-size: var(--fs-l);
}

.auto-scroll-carousel-container {
  color: var(--white);
}

.auto-scroll-carousel {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.auto-scroll-carousel > * {
  flex-shrink: 0;
}
