.footer-container {
}

.footer-container ul.list {
  background: var(--gray-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 1.3em 0;
}

.footer-container ul.list li {
  text-transform: uppercase;
  margin-inline: 2em;
  white-space: nowrap;
}

.footer-container .footer-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em 0;
  align-items: center;
  margin-inline: auto;
  max-width: 50rem;
  text-align: center;
}

.footer-logo img {
  width: 13rem;
}

.footer-container ul li {
  font-weight: 600;
}

@media only screen and (min-width: 550px) {
  .footer-container ul.list {
    flex-direction: row;
  }
}
