.primary-btn {
  border: 1px solid red;
  width: fit-content;
  background: var(--primary);
  color: black;
  font-weight: bold;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 3px;
  transition: all 400ms ease;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.primary-btn:hover {
  opacity: 0.85;
}
