.button1 {
  padding: 0.3em 1em;
  border-radius: var(--slight-round);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 400ms ease;
}

.button1:hover {
  opacity: 0.8;
}

.button1 > * {
  pointer-events: none;
}

.button1.small {
  font-size: var(--fs-xs);
}

.button1.medium {
  font-size: var(--fs-n);
}
