.search-container {
  --search-box-height: 10vh;

  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: var(--search-box-height);
}

.search-form-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100vw - var(--sidebar-width));
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  height: var(--search-box-height);
  top: 0;
}

.search-form-container form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: calc(100% - 2em);
  margin-inline: auto;
  max-width: 700px;
  gap: 0.5em;
}

.search-container form button {
  grid-column: 1/-1;
}

.search-container form > * {
  padding: 0.5em 1em;
}

.search-result-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 700px) {
  .searchBox-container {
    padding: 0 2em;
  }
}
