.people-card-container {
  position: relative;
  cursor: pointer;
}

.people-card-container:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.65),
    black
  );
  z-index: 1;
}

.people-card-container .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.4em;
  bottom: 1em;
  padding: 0.5em;
  position: absolute;
  z-index: 800;
  width: 100%;
  font-size: var(--fs-xxs);
  color: white;
}

.people-card-container img {
  object-fit: cover;
  width: 100%;
}
