.cards-carousel-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.cards-carousel-container > * {
  flex-shrink: 0;
}

.cards-carousel-container::-webkit-scrollbar {
  display: none;
}
