.mainTabs-container__header,
.mainTabs-container__header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTabs-container__header ul {
  flex-direction: row;
  gap: 1em;
}

.mainTabs-container__header {
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1.5em;
}

.mainTabs-container__header .tabs {
  padding: 0.3em 0.5em;
  border-radius: 5em;
  background: var(--gray-lightest);
}

.mainTabs-container__header ul li {
  padding: 0.5em 0.7em;
  border-radius: 5em;
  font-size: var(--fs-s);
  color: rgba(255, 255, 255, 0.693);
  text-transform: capitalize;
}

.mainTabs-container__header ul li.active {
  background: var(--primary);
  color: var(--gray-2);
}

.mainTabs-container__header ul li:hover {
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .mainTabs-container__header {
    gap: 1em;
    flex-direction: row;
    justify-content: flex-start;
  }
}
