html {
  /* scroll-behavior: smooth; */
}

body {
  --gray-1: #131213;
  --gray-2: #111010;
  --gray-2-transparent: #111010a1;

  --gray-light: #1a1a1b;

  --gray-lightest: #3a3a3d;
  --primary: #f47f21;
  --primary-dark: rgb(212, 110, 27);
  --transparent-white: rgba(255, 255, 255, 0.327);
  --green-transparent: rgba(16, 191, 16, 0.732);

  --primary: white;
  --primary-dark: rgba(255, 255, 255, 0.485);

  /* --primary: rgb(120, 193, 67);
  --primary-dark: rgb(86, 137, 49); */

  --fs-xxs: 0.65rem;
  --fs-xs: 0.75rem;
  --fs-s: 0.8rem;
  --fs-n: 1rem;
  --fs-l: 1.2rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 2.5rem;

  --nav-height: 60px;
  --card-height: 350px;

  background: var(--gray-2);
  font-family: Arial, Helvetica, sans-serif;

  color: white;

  background-image: radial-gradient(
    circle,
    rgba(203, 213, 225, 0.356) 0px,
    #111010 1px
  );
  background-size: 2rem 2rem;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 95%;
}

.wrapper,
.wrapper-full {
  max-width: 1600px;
  margin-inline: auto;
}

.wrapper-new {
  width: 100%;
  max-width: 2000px;
  margin-inline: auto;
}

.wrapper-full {
  width: 100%;
  margin-inline: auto;
}

.wrapper-1 {
  width: 95%;
  margin-inline: auto;
}

.wrapper-2 {
  width: 95%;
  margin-inline: auto;
  max-width: 1500px;
}

.secondary {
  opacity: 0.7;
}

button {
  cursor: pointer;
}

.button-click {
  transition: all 1s ease;
}

.loading-svg {
  animation: loading 400ms linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.button-click:active {
  transform: scale(0.95);
}

.secondary-text {
  opacity: 0.5;
}

p {
  line-height: 1.4;
  z-index: -1;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--fs-xl);
}

@media only screen and (min-width: 700px) {
  body {
    --fs-xl: 1.7rem;
  }

  .wrapper,
  .wrapper-1,
  .wrapper-2 {
    width: 95%;
  }
}
