html {
  scroll-behavior: smooth;
}

body {
  --gray-1: #131213;
  --gray-2: #111010;
  --gray-light: #1a1a1b;
  --gray-lightest: #252526;
  --primary: #f47f21;
  --primary-dark: rgb(212, 110, 27);
  --transparent-white: rgba(255, 255, 255, 0.327);
  --green-transparent: rgba(16, 191, 16, 0.732);

  --primary: white;
  --primary-dark: rgba(255, 255, 255, 0.485);

  --fs-xxs: 0.65rem;
  --fs-xs: 0.75rem;
  --fs-s: 0.8rem;
  --fs-n: 1rem;
  --fs-l: 1.2rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 2.5rem;

  --nav-height: 60px;
  --card-height: 350px;

  background: var(--gray-2);
  font-family: Arial, Helvetica, sans-serif;

  color: white;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  width: 95%;
  margin-inline: auto;
}

.wrapper-1 {
  width: 95%;
  margin-inline: auto;
}

.wrapper-2 {
  width: 95%;
  margin-inline: auto;
  max-width: 1500px;
}

.logo h2 {
  text-transform: uppercase;
  background-clip: text;
}

.logo {
  opacity: 0.7;
  transition: 300ms ease;
}

.logo:hover {
  opacity: 1;
}

.secondary {
  opacity: 0.7;
}

button {
  cursor: pointer;
}

.button-click {
  transition: all 1s ease;
}

.button-click:active {
  transform: scale(0.6);
}

.secondary-text {
  opacity: 0.5;
}

p {
  line-height: 1.4;
  z-index: -1;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--fs-xl);
}

@media only screen and (min-width: 700px) {
  body {
    --fs-xl: 1.7rem;
  }

  .wrapper,
  .wrapper-1,
  .wrapper-2 {
    width: 95%;
  }
}
