.grid-container {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

.grid-card {
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
}

.grid-card img {
  transition: all 200ms ease;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.grid-card:hover img {
  transform: scale(1.05);
}

.grid-card:hover {
  border: 2px solid var(--primary);
}

.grid-card:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  z-index: 50;
}

.grid-card .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 0.5em 0.5em;
  opacity: 0.7;
  min-height: 50px;
}

.grid-card .brief__rating {
  position: absolute;
  background: var(--primary-dark);
  padding: 0.5em;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 0.5em;
  top: 0.5em;
  color: var(--gray-1);
  font-size: var(--fs-s);
  font-weight: bold;
  z-index: 500;
}

.grid-card .brief {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.grid-card .media-type {
  position: absolute;
  z-index: 500;
  background: var(--green-transparent);
  top: 0.5em;
  left: 0.5em;
  border-radius: 5em;
  padding: 0.3em 0.6em;
  font-size: var(--fs-xs);
  font-weight: bold;
}

.grid-card .brief .tag {
  border-radius: 5em;
  /* padding: 0.2em 0.6em; */
  font-size: var(--fs-xxs);
  color: var(--gray-1);
  font-weight: 600;
  text-transform: uppercase;
}

.grid-card .title {
  font-weight: 600;
  font-size: var(--fs-n);
}

.grid-card .tag.bg-primary {
  background: var(--primary);
}

.grid-card .tag.bg-green {
  background: rgb(3, 153, 3);
}

@media only screen and (min-width: 550px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .grid-container {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (min-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
}
