.grid-container {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 550px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .grid-container {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (min-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
}
