.tag {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5em 1.2em;
  text-transform: capitalize;
  font-size: var(--fs-xs);
  color: rgba(255, 255, 255, 0.8);
  border-radius: var(--rounded);
}

/* 
.tag:hover {
  background: rgba(255, 255, 255, 0.3);
} */
