.movie-detail-container {
  --poster-width: 300px;
}

.movie-detail-container__backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  max-height: 100vh;
}

.movie-detail-container__backdrop::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(235, 170, 14),
    rgba(218, 46, 67, 0.557)
  );
}

.movie-detail-container__backdrop::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: linear-gradient(0deg, var(--gray-2), rgba(21, 21, 21, 0.743));
}

.movie-detail-container .actions button svg {
  font-size: var(--fs-l);
}

.movie-detail-container__backdrop img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-detail-container {
  position: relative;
}

.movie-detail-container__content {
  z-index: 999;
  padding: 2em 0;
  padding-top: calc(var(--nav-height) + 2em);
}

.movie-detail-container__content .main__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.movie-detail-container__content .main__content .poster {
  box-shadow: rgba(12, 12, 12, 0.4) 0px 0px 2rem;
  max-width: 250px;
  border-radius: 5px;
  overflow: hidden;
}

.movie-detail-container .main__content .actions {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.movie-detail-container .social-links {
  font-size: var(--fs-xl);
}

.movie__details {
  margin-top: 2em;
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.movie__details .title {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.movie__details .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.movie__details .rating {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.movie-detail-container .rating p {
  margin-bottom: 0.3em;
}

.movie__details .genre {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.movie__details .flex > div:first-child {
  display: flex;
  gap: 0.4em;
}

.movie__details .tag-line {
  display: block;
  opacity: 0.8;
}

.movie__details p.overview {
  opacity: 0.8;
  max-width: 80ch;
}

.movie__details .crew-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.movie__details .crew {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  justify-self: flex-start;
  min-width: 140px;
  padding: 0.3em 0;
  /* text-align: left; */
}

.movie__details .crew p {
  opacity: 0.8;
  font-weight: 500;
}

.movie__details .crew a {
  text-decoration: underline;
  font-weight: 600;
}

.facts {
  text-align: center;
  padding: 2em 0;
}

.facts ul {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

.facts ul li {
  min-width: 130px;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.facts ul li span {
  font-weight: 600;
}

.facts {
  border-radius: 5px;
  margin-inline: auto;
  /* border: 1px solid var(--primary); */
  padding: 2em;
}

.recommendations-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

@media only screen and (min-width: 700px) {
  .movie-detail-container__backdrop {
    height: 100vh;
  }

  .movie-detail-container__content {
    display: grid;
    grid-template-columns: minmax(250px, var(--poster-width)) 1fr;
    align-items: flex-start;
    gap: 3em;
  }

  .movie-detail-container__content .actions {
    width: 100%;
  }

  .movie-detail-container__content .main__content .poster {
    max-width: unset;
  }

  .movie-detail-container__content .actions > * {
    /* border: 1px solid red; */
    width: 100%;
  }

  .movie-detail-container__content .actions a {
    display: block;
  }

  .movie__details {
    text-align: unset;
    margin-top: 0;
  }

  .movie__details .title,
  .movie__details .rating,
  .movie__details .crew-container {
    justify-content: unset;
  }

  .movie__details .title {
    flex-direction: row;
  }

  .movie__details .flex {
    align-items: flex-start;
  }

  .facts {
    /* text-align: unset; */
  }

  .facts ul {
    /* justify-content: flex-start; */
    margin-top: 2em;
  }
  .facts ul li {
    font-size: var(--fs-l);
  }

  .movie-detail-container__content .main__content .poster {
    max-width: 300px;
  }
}

@media only screen and (min-width: 800px) {
  .movie-detail-container__backdrop {
    height: 80vh;
  }
}
