.main-container {
  padding: 1em 0;
}

.main-carousel {
  margin-bottom: 4em;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.main-carousel .carousel-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  justify-items: center;
  text-align: center;
  margin-inline: auto;
  padding: 0 3em;
  position: relative;
}

.main-carousel-content::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(transparent, var(--gray-2));
  z-index: 999;
  pointer-events: none;
}

.main-carousel .carousel-content .info {
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.main-carousel .carousel-content .image {
  max-width: 350px;
  /* padding: 1em; */
}

.main-carousel .carousel-content img {
  border-radius: 10px;
}

.main-carousel .carousel-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: var(--fs-n);
}

.main-carousel .carousel-content button {
  padding: 0.8em 1em;
  width: fit-content;
  margin-inline: auto;
  border-radius: 5em;
  background: var(--primary);
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--fs-n);
}

.main__carousel-container {
  margin: 4em 0 1em;
  border-radius: 20px;
}

.main__carousel-container__title {
  margin-bottom: 1em;
}

.carousel-main {
  /* margin-left: calc(5% / 2); */
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .main-carousel::before {
    height: 20%;
  }

  .main-carousel .carousel-content button {
    cursor: pointer;
    margin-inline: unset;
    margin-top: 1em;
    opacity: 0.8;
    transition: all 300ms ease;
  }

  .main-carousel .carousel-content button:hover {
    opacity: 1;
  }

  .main-carousel .carousel-content {
    grid-template-columns: 1fr 1fr;
    text-align: unset;
    align-items: center;
    gap: 2em;
    padding: 0 5em;
  }

  .main-carousel .carousel-content > * {
  }

  .main-carousel .carousel-content .info {
    grid-row: unset;
    justify-self: flex-start;
  }

  .main-carousel .carousel-content .image {
    max-width: unset;
  }

  .main-carousel .carousel-content > * {
  }

  .main-carousel .carousel-content p {
    max-width: 500px;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 700px) {
  .carousel-main {
    /* margin-left: calc(10% / 2); */
  }
}
