nav .logo {
  width: fit-content;
  width: 9rem;
}

nav .logo img {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(225, 225, 225, 0.149);
  z-index: 999;
  background: rgba(0, 0, 0, 0.791);
  height: var(--nav-height);
  backdrop-filter: blur(5px);
}

nav .burger {
  font-size: var(--fs-xl);
  margin-right: 0.5em;
  cursor: pointer;
}

nav > div,
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  white-space: nowrap;
}

.nav-list {
  justify-content: center;
}

.nav-list li {
  margin-inline: 1em;
  text-transform: uppercase;
  font-size: var(--fs-s);
}

.nav-list.desktop {
  display: none;
}

.nav-list.mobile {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  padding: 1em;
  top: calc(100% + 0.1em);
  transition: all 200ms ease;
  transform: scaleY(0);
  transform-origin: top;
}

.nav-list.mobile.visible {
  transform: scaleY(1);
}

@media only screen and (min-width: 600px) {
  nav {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1000px) {
  nav .burger {
    display: none;
  }

  .nav-list.desktop {
    display: flex;
    margin-left: auto;
    gap: 1em;
  }
}
