.card {
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
}

.card img {
  transition: all 200ms ease;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card:hover img {
  transform: scale(1.05);
}

.card:hover {
  border: 2px solid var(--primary);
}

.card:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
  z-index: 50;
}

.card .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 0.5em 0.5em;
  opacity: 0.7;
  /* min-height: 50px; */
}

.card .brief__rating {
  position: absolute;
  background: var(--primary-dark);
  padding: 0.5em;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 0.5em;
  top: 0.5em;
  color: var(--gray-1);
  font-size: var(--fs-s);
  font-weight: bold;
  z-index: 500;
}

.card .brief {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.card .media-type {
  position: absolute;
  z-index: 500;
  background: var(--green-transparent);
  top: 0.5em;
  left: 0.5em;
  border-radius: 5em;
  padding: 0.3em 0.6em;
  font-size: var(--fs-xs);
  font-weight: bold;
}

.card .brief .tag {
  border-radius: 5em;
  /* padding: 0.2em 0.6em; */
  font-size: var(--fs-xxs);
  color: var(--gray-1);
  font-weight: 600;
  text-transform: uppercase;
}

.card .title {
  font-weight: 600;
  font-size: 0.9rem;
}

.card .tag.bg-primary {
  background: var(--primary);
}

.card .tag.bg-green {
  background: rgb(3, 153, 3);
}

.poster-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.poster-card img {
  filter: brightness(80%);
}

.poster-card:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* background: linear-gradient(red, green); */
}

.download-icon {
  width: fit-content;
  height: 30px;
  width: 30px;
  background: var(--primary);
  color: var(--gray-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: absolute;
  right: 1em;
  bottom: 1em;
  z-index: 500;
  opacity: 0.8;
  cursor: pointer;
  transition: all 300ms ease;
}

.download-icon button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.download-icon:hover {
  opacity: 1;
}

.backdrop-card {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.backdrop-card .image {
  overflow: hidden;
}

.backdrop-card .image img {
  height: 100%;
  width: 100%;
  transition: all 300ms ease;
}

.backdrop-card .image img:hover {
  transform: scale(1.04);
}
